body {
    background-color: #969696
}

img {
    width: 700px;
}

h1 {
    color: #ffffff
}

p {
    color: #ffffff
}

h2 {
    color: #ffffff
}

a {
    color: #ffffff;
    font-size: 25px
}
